.button {
  @include flex(center);
  @include font-styles($body-14R, $text-color);

  width: 100%;
  min-height: 56px;
  border-radius: 16px;
  background-color: $them-color;

  &__disable {
    pointer-events: none;
    background-color: rgba($them-color, .4);
  }
}