$body-20R: (
        'font-size': 20px,
        'font-weight': 400,
        'line-height': 1.4
);
$body-18R: (
        'font-weight': 400,
        'font-size': 18px,
        'line-height': 1.4
);
$body-16R: (
        'font-size': 16px,
        'font-weight': 400,
        'line-height': 1.6
);
$body-14R: (
        'font-size': 14px,
        'font-weight': 400,
        'line-height': 1.4
);
$body-12R: (
        'font-size': 12px,
        'font-weight': 400,
        'line-height': 1.4
);
$body-18B: (
        'font-size': 18px,
        'font-weight': 700,
        'line-height': 1.6
);
$body-16B: (
        'font-size': 16px,
        'font-weight': 700,
        'line-height': 1.6
);
$body-14B: (
        'font-size': 14px,
        'font-weight': 700,
        'line-height': 1.4
);
$body-12B: (
        'font-size': 12px,
        'font-weight': 700,
        'line-height': 1.4
);
